<p>
Now, let's play the <strong>first game</strong>:<br><br>

{{ if player.treatmentThreshold1 == 3 and player.allA_payoffs1 == 15 }}
<img src={% static "riskGame1/strategicUncertainty_payoffTable_ABth3.jpg" %} style="float:center;height:300px;width:600px">
{{ elif player.treatmentThreshold1 == 4 and player.allA_payoffs1 == 15 }}
<img src={% static "riskGame1/strategicUncertainty_payoffTable_ABth4.jpg" %} style="float:center;height:300px;width:600px">
{{ elif player.treatmentThreshold1 == 3 and player.allA_payoffs1 == 10 }}
<img src={% static "riskGame1/strategicUncertainty_payoffTable_ABth3_reversed.jpg" %} style="float:center;height:300px;width:600px">
{{ elif player.treatmentThreshold1 == 4 and player.allA_payoffs1 == 10 }}
<img src={% static "riskGame1/strategicUncertainty_payoffTable_ABth4_reversed.jpg" %} style="float:center;height:300px;width:600px">
{{ endif }}
<br><br><br>
{{ if player.treatment != 'noIdentity' and player.treatment != 'noIdentityLowThreshold' }}
You are playing this game with 
a <strong>{{ player.otherGroupID1 }}</strong>
<img src="{% static "groupAssignment/" %}{{ player.otherGroupID1 }}_C.jpg" style="float:right;height:50px;width: 50px">
<br><br><br>

{{ if player.otherGroupID1 == player.otherGroupID2 }}
another <strong>{{ player.otherGroupID2 }}</strong>
{{ elif player.otherGroupID1 != player.otherGroupID2 }}
a <strong>{{ player.otherGroupID2 }}</strong>
{{ endif }}
<img src="{% static "groupAssignment/" %}{{ player.otherGroupID2 }}_C.jpg" style="float:right;height:50px;width: 50px">
<br><br><br>

{{ if player.otherGroupID1 == player.otherGroupID3 and player.otherGroupID1 != player.otherGroupID2 }}
and another <strong>{{ player.otherGroupID2 }}</strong>.
{{ elif player.otherGroupID2 == player.otherGroupID3 and player.otherGroupID1 != player.otherGroupID3 }}
and another <strong>{{ player.otherGroupID2 }}</strong>.
{{ elif player.otherGroupID1 == player.otherGroupID2 and player.otherGroupID1 == player.otherGroupID3}}
and yet another <strong>{{ player.otherGroupID3 }}</strong>.
{{ else }}
and a <strong>{{ player.otherGroupID3 }}</strong>.
{{ endif }}
<img src="{% static "groupAssignment/" %}{{ player.otherGroupID3 }}_C.jpg" style="float:right;height:50px;width: 50px">
<br><br><br>

{{ else }}
You are playing this game with 3 other players.
{{ endif }}
</strong>
<br><br>
</p>	

{% formfield player.choice1 label='Please make your choice:' %}	


















