<p>
Now, let's play the game:<br><br>

{{ if player.treatment != 'noIdentity' }}
You are playing this game with 
a <strong>{{ player.otherGroupID1 }}</strong>
{{ if player.otherGroupID1 == 'Klee' }}
<img src="{{ static 'groupAssignment/Klee_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID1 == 'Kandinsky' }}
<img src="{{ static 'groupAssignment/Kandinsky_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID1 == 'Chagall' }}
<img src="{{ static 'groupAssignment/Chagall_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID1 == 'Picasso' }}
<img src="{{ static 'groupAssignment/Picasso_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ endif }}
<br><br><br>

{{ if player.otherGroupID1 == player.otherGroupID2 }}
another <strong>{{ player.otherGroupID2 }}</strong>
{{ elif player.otherGroupID1 != player.otherGroupID2 }}
a <strong>{{ player.otherGroupID2 }}</strong>
{{ endif }}
{{ if player.otherGroupID2 == 'Klee' }}
<img src="{{ static 'groupAssignment/Klee_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID2 == 'Kandinsky' }}
<img src="{{ static 'groupAssignment/Kandinsky_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID2 == 'Chagall' }}
<img src="{{ static 'groupAssignment/Chagall_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID2 == 'Picasso' }}
<img src="{{ static 'groupAssignment/Picasso_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ endif }}
<br><br><br>

{{ if player.otherGroupID1 == player.otherGroupID3 and player.otherGroupID1 != player.otherGroupID2 }}
and another <strong>{{ player.otherGroupID3 }}</strong>.
{{ elif player.otherGroupID2 == player.otherGroupID3 and player.otherGroupID1 != player.otherGroupID3 }}
and another <strong>{{ player.otherGroupID3 }}</strong>.
{{ elif player.otherGroupID1 == player.otherGroupID2 and player.otherGroupID1 == player.otherGroupID3}}
and yet another <strong>{{ player.otherGroupID3 }}</strong>.
{{ else }}
and a <strong>{{ player.otherGroupID3 }}</strong>.
{{ endif }}
{{ if player.otherGroupID3 == 'Klee' }}
<img src="{{ static 'groupAssignment/Klee_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID3 == 'Kandinsky' }}
<img src="{{ static 'groupAssignment/Kandinsky_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID3 == 'Chagall' }}
<img src="{{ static 'groupAssignment/Chagall_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ elif player.otherGroupID3 == 'Picasso' }}
<img src="{{ static 'groupAssignment/Picasso_C.jpg' }}" style="float:right;height:50px;width: 50px">
{{ endif }}
<br><br>

{{ else }}
You are playing this game with 3 other players.
{{ endif }}
</strong>
<br><br>
Here are the rules again: Whatever you do not share with the others, you can keep for yourself. Whatever the other participants are not sharing, they keep for themselves. Whatever you and the other participants share is then <strong>multiplied by 2</strong> and this amount is <strong>distributed equally</strong> among all participants, no matter how much you and they shared. Your overall points earned in Stage {{ player.numStage }} will be your share plus whatever is left from your endowment.
</p>	

{% formfield player.choice label=choice_label %}	











