{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
Stage 1
<br><br>
You are a {{ player.groupID }} 
{{ if player.groupID == 'Klee' }}
<img src="{{ static 'groupAssignment/Klee_C.jpg'}}" style="height:50px; width = 50px">
{{ elif player.groupID == 'Kandinsky' }}
<img src="{{ static 'groupAssignment/Kandinsky_C.jpg'}}" style="height:50px; width = 50px">
{{ elif player.groupID == 'Chagall' }}
<img src="{{ static 'groupAssignment/Chagall_C.jpg'}}" style="height:50px; width = 50px">
{{ else }}
<img src="{{ static 'groupAssignment/Picasso_C.jpg'}}" style="height:50px; width = 50px">
{{ endif }}
<hr>
{% endblock %}

{% block content %}
<p>

{% if player.help == 1 %}
<p>
{{ player.percentage_klee }}% of {{ player.groupID }}s in this study so far thought <b>Klee</b> is the painter.
</p>

<p>
{{ player.percentage_kandinsky }}% of {{ player.groupID }}s in this study so far thought <b>Kandinsky</b> is the painter.
</p>
{% endif %}

<p>
Your initial guess was
{% if player.guess == 1 %}
Klee.
{% else %}
Kandinsky.
{% endif %}
</p>

<p>
Please give your <b>final</b> answer. If more than half of {{ player.groupID }}s in this study so far (including you) picked the correct answer you receive <strong>{{ Constants.painterQuiz_reward }} Points</strong>.
</p>

<img src="{% static "groupAssignment/" %}1.jpg" style="width:30%">

{% formfield player.answer label="Please give your final answer: Who is the painter of this painting?" %}

<br><br>
<p>
Please press the 'Next' button to proceed.
</p>

{% next_button %}
{% endblock %}
