{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Start of the study
{% endblock %}

{% block content %}

<p>
The study proceeds in several stages. <br><br>

In addition to your reward for participating in this study, you will be able to <strong>earn additional bonus</strong> in all these stages. You will be told at any point how you can earn a bonus and will receive that bonus together with your participation reward <strong>within the day once you completed the study</strong>. <br><br>

Remember, you always need to press the 'next' button to advance to the next screen. Please press the 'Next' button to continue. 
</p>

<span align="right">
{% next_button %}
</span>
{% endblock %}
