{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
Stage 1
<br><br>
You are a {{ player.groupID }} 
{{ if player.groupID == 'Klee' }}
<img src="{{ static 'groupAssignment/Klee_C.jpg'}}" style="height:50px; width = 50px">
{{ elif player.groupID == 'Kandinsky' }}
<img src="{{ static 'groupAssignment/Kandinsky_C.jpg'}}" style="height:50px; width = 50px">
{{ elif player.groupID == 'Chagall' }}
<img src="{{ static 'groupAssignment/Chagall_C.jpg'}}" style="height:50px; width = 50px">
{{ else }}
<img src="{{ static 'groupAssignment/Picasso_C.jpg'}}" style="height:50px; width = 50px">
{{ endif }}
<hr>
{% endblock %}

{% block content %}
<p>
Would you like to see the guesses of other {{ player.groupID }}s in this study so far to help you choose your final answer?
</p>

<p>
{% formfield player.help %}
</p>

<p>
Please press the 'Next' button to proceed.
</p>

<span align="right">
{% next_button %}
</span>
{% endblock %}
