{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
<strong>Take home earnings</strong>
<hr>
{% endblock %}

{% block content %}
<p>
In addition to your participantion reward of {{ participation_fee }}, you earned {{ player.gameEarnings }} from playing the games in this study. Your total earnings of {{ player.totalEarnings }} will be posted to your account within the day. Thank you for taking part in this study. 
</p>

<p>
Please hit the 'Next' button to finish and return to Prolific.
</p>	

{% next_button %}

{% endblock %}
