{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block title %}
<strong>Take home earnings</strong>
<hr>
{% endblock %}

{% block content %}
<p>
In addition to your participantion reward of {{ participation_fee }}, you earned {{ player.gameEarnings }} from playing the games in this study. Your total earnings of {{ player.totalEarnings }} will be posted to your account within a day. Thank you for taking part in this study. 
<br><br>
Please click <a href="{{ session.prolific_completion_url }}">here</a>
                to complete the study and return to Prolific.
</p>



{% endblock %}
