{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Stage {{ player.numStage }}
<hr>
{% endblock %}

{% block content %}
<p>
This is the <strong>final stage</strong> of this study. Please answer the following questions.
</p>

{% formfield player.q_age label='What is your age' %}
{% formfield player.q_gender label='What gender do you identify with?' %}
{% formfield player.q_race label='What is your race?' %}
{% formfield player.q_education label='What is highest level of education you completed?' %}
{% formfield player.q_groupID label="You were member of which group?" %}
{% formfield player.q_groupClose label="How close did you feel to the members of your group on a scale from 0 (=not at all) to 10 (=very much)?" %}
{% formfield player.q_whatAbout label='What do you think this study is about?' %}
{% formfield player.q_choices label='In the games where you had to choose between options A and B, why did you chose the way you did?' %}
{% formfield player.q_clear label='Any other comments about the study? Did you find the instructions clear?' %}

{% next_button %}

{% endblock %}

