{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block style %}
<style type="text/css">
#right { 
  width: 45%; 
  margin: 5px; 
  padding: 1em; 
  background: white; 
} 

#right { float:right; }

img {
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
}
p {
    font-size: 110%;
    font-style: bold;
}

</style>
{% endblock %}

{% block title %}
<strong>Stage 3</strong>
<br>
<br>
Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
<p>
You are member of <strong>Group {{ groupID }}</strong>  and 
<strong>{{ player.role }}</strong>. 
<br>
<br>
<strong>{{ player.other_player.role }}</strong> is a member of <strong>Group
{{ player.other_player.groupID }}</strong>.   
<br>
</p>

{% if player.role == 'Player 1' %}
	{% formfield player.choicePlayer1 with label='Please make your choice:' %}	
	<!-- {{ form.choicePlayer2.errors }} -->
{% else %}
	{% formfield player.choicePlayer2 with label='Please make your choice:' %}
	<!-- {{ form.choicePlayer1.errors }} -->
{% endif %}

{% next_button %}

{% include 'riskGame/instructions.html' %}

{% endblock %}



