{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<strong>Stage 2: Question 2</strong>
{% endblock %}

{% block styles %}
<link href="{% static "my_battle_of_the_sexes/jquery-ui/jquery-ui.min.css" %}" rel="stylesheet">
<style type="text/css">
    #right { 
        width: 45%; 
        margin: 5px; 
        padding: 1em; 
        background: white; 
    } 

    #right { float:right; }
    
    img {
        height: 200px;
        width: 200px;
        -o-object-fit: contain;
    }
    p {
        font-size: 110%;
        font-style: bold;
    }

    .bid-slider {
        margin: 1.5em auto;
        width: 70%;
    }

    .bid-slider_self {
        margin: 1.5em auto;
        width: 70%;
    }

    .bid {
        text-align: center;
    }

    .payoff {
        margin: 1.5em 0;
    }
</style>
{% endblock %}


{% block content %}
<p>
When you consider again what happened in Stage 2, in particular the choices made by other participants.
</p>

<p>
What do you think was, on average, the willingness to make a risky choice on a scale from 1 (very risk averse) to 100 (very risk seeking) of other participants who were members of <strong>Group {{ other_groupID }}</strong>?	
{% formfield player.riskElicitation_other with label='Risk score of members of the other group:' %}
<br>
<p>
Now, what do you think was, on average, the willingness to make a risky choice on a scale from 1 (very risk averse) to 100 (very risk seeking) of other participants who were like you members of <strong>Group {{ groupID }} </strong>?	
{% formfield player.riskElicitation_own with label='Risk score of members of your group:' %}
<br>
<p>
In Stage 2 of this experiment, your <strong>payoffs</strong> will depend on how good your guesses of other participants' willingness to make a risky choice are. In particular, we asked you about your guesses of the willingness to take a risk, on average, for members of your own group and members of the other group. Your guesses are a number between 0 and 100. Should your guesses be exactly the average responses given by all other participants, you will receive 100 points for each of the two guesses. For every point of deviation from the actual average responses, you payoff will decrease by 1 point. That is, should your guesses be the furthest away from the true average responses (the furthest away on a scale from 1 to 100 is 100), you will receive 100 - 100 = 0 points. Overall, <strong>you can earn up to 200 points</strong> (100 for each of your two guesses) in Stage 2 of the experiment. 
</p>
{% next_button %}

{% endblock %}

