{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<strong>Stage 2: Question 1</strong>
{% endblock %}


{% block content %}
<p>
When you consider again what happened in Stage 2, in particular the choices made by you.
</p>

<p>
What would you say, on average, was your willingness to make a risky choice on a scale from 1 (very risk averse) to 100 (very risk seeking)?	
</p>
{% formfield player.riskElicitation_self with label='Your risk score:' %}	

{% next_button %}

{% endblock %}
