{% block styles %}
<style type="text/css">
table {
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}
</style>
{% endblock %}

{% block title %}
Stage {{ player.numStage }}: Decision 1
<br><br>
{{ if player.treatment != 'noIdentity' }}
You are a {{ player.groupID }} 
{{ if player.groupID == 'Klee' }}
<img src="{{ static 'groupAssignment/Klee_C.jpg'}}" style="height:50px; width = 50px">
{{ elif player.groupID == 'Kandinsky' }}
<img src="{{ static 'groupAssignment/Kandinsky_C.jpg'}}" style="height:50px; width = 50px">
{{ elif player.groupID == 'Chagall' }}
<img src="{{ static 'groupAssignment/Chagall_C.jpg'}}" style="height:50px; width = 50px">
{{ else }}
<img src="{{ static 'groupAssignment/Picasso_C.jpg'}}" style="height:50px; width = 50px">
{{ endif }}
{{ endif }}
<hr>
{% endblock %}

{% block content %}

{% include 'riskGameHtml/Choice1.html' %}

{% next_button %}

{% endblock %}
