{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Start of the study
{% endblock %}

{% block content %}

<p>
You have been invited to take part in a study by researchers from New York University and the University of Innsbruck to learn more about decision making in diverse groups. <br><br>
</p>
<br><br>
<p>
The study proceeds in <strong>several stages</strong>. In addition to your base reward for participating in this study of <strong>{{ participation_fee}}</strong>, you will be able to <strong>earn additional points</strong> in each of these stages. You will be told how you can earn these points and will receive the points converted into U.S. Dollars together with your base reward <strong>within a day of completing the study</strong>. 
<br><br>
Points are converted into U.S. Dollars at a rate of $1 for every {{ exchange_rate }} Points. You may earn up to <strong>$4.85</strong> in addition to the {{ participation_fee}} base reward for a total of up to $6.35. 
<br><br>

If you agree to be in this study, you will answer a few questions and interact with other participants in short tasks and games. Your participation in the study <strong>may last more than 10 minutes but the average completion time is less than that</strong>. There are no known risks associated with this research beyond those of everyday life. You may refuse to participate or withdraw at any time. However, if you withdraw before the end of the study, you may receive no payment. 

<br><br>
The confidentiality of your research records and identity will be strictly maintained. To preserve the anonymity of the data, each participant is assigned a random code number that will be used to keep track of data produced by the study. Results of the study in any presentation or publication will include only group results, and no personal identifying information will ever be used.
<br><br>
If you want to know more about the study, please contact the researcher by writing to dominik.duell@uibk.ac.at.   
<br><br><br>
By hitting the <strong>'Next'</strong> button
<ol>
<li>I confirm that I have read and understand the information above and understand that I may contact the researcher to ask questions.</li>
<li>I understand that my participation is voluntary and that I am free to withdraw from the project at any time.</li>
<li>I understand that data collected in this project might be shared as appropriate and for publication of findings, in which case data will remain completely anonymous.</li>
<li>I agree to take part in the study.</li>
</ol>
</p>

<span align="right">
{% next_button %}
</span>
{% endblock %}
