{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Group assignment
{% endblock %}

{% block content %}
<p>
<table>
	<td><table><tr><td>
		<table  class="table">
			<tr>
				<th>Subject</th>
				<th>Identity 1</th>
				<th>Identity 2</th>
			</tr>
			{% for p in players %}
			<tr>
				<td style="height:100px;">{{ p.player_id }}</td>
				<td style="height:100px;">{{ p.identity1 }}</td>
				<td style="height:100px;">{{ p.identity2 }}</td>
			</tr>
			{% endfor %}
		</table>
	</td></tr></table></td>
	<td><table><tr><td>
		<table class="table">	
			<tr>
				<th>Assignment</th>
			</tr>
			{% for field in form %}
			{% if forloop.counter <= num_players %}
			<tr>
				<td style="height:100px;">{{ field }}</td>
			</tr>	
			{% else %}
				{{ field.as_hidden }}
			{% endif %}
			{% endfor %}
		</table>
	</td></tr></table></td>
</table>
</p>

<span align="right">
{% next_button %}
</span>
{% endblock %}
