{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Group assignment
{% endblock %}

{% block content %}

<p>
People often define themselves in terms of membership in social groups. We sometimes identify with being female, English, a student, a teenager, a fan of Celtic Glasgow, or a collector of rare butterflies.
Please take a moment to think about yourself. Which group characteristics are important to you? What defines your social identity?  
<br>
<br>
Please name the group characteristic that is the most important to how you define yourself:
</p>

{% formfield player.identity1 %}

<p>
<br>
Please name the group characteristic that is the second most important to how you define yourself:
</p>
{% formfield player.identity2 %}

<p>
Your answers will be read by one of our experimenters right away and based on your answers and the answers of other participants in this experiment, you will be assigned to one of two groups that consists of participants who are rather similar in their responses to the above questions. The groups will be labeled Green and Blue where those labels have no substantive meaning. 
</p>

<p>
You show know, however, that there is a possibility that you are assigned the two groups randomly. 
<span align="right">
{% next_button %}
</span>
{% endblock %}
