
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }

    td, th{
        text-align: center;
    }

    .rotate90 {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        top: 60%;
    }

    .instructions {
        position: relative;
        text-shadow: 0 1px 0 #fff;
        line-height: 1.5;
        margin: 60px auto;
        background-color: #f5f5dc;
        background-image: linear-gradient(to bottom, #f5f5dc 0px, #fbfbeb 100%);
        padding-top: 5px;
        padding-bottom: 15px;
        margin-top: 20px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .instructions:before, .instructions:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width:300px;
        background: rgba(0, 0, 0, 0.7);
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
        transform: rotate(-3deg);
    }

    .instructions:after {
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
</style>

<div class="instructions well well-lg" style="">

<h3 class="panel-sub-heading">
Instructions
</h3>
<p>
In this game, in each round you will be paired randomly and anonymously with another participant. 
One of you will be randomly designated Player 1 and the other will be designated Player 2. 
Prior to making a decision, you will learn your role. 
</p>

<p>
In each round, in each pair, Player 1 can choose from two options: Left or Right. And, Player 2 can choose from two options: Up or Down. 
</p>

<p>
Each of you must independently and simultaneously make a decision. 
Your payoffs will be determined by both choices and are given in a table such as shown below:
</p>

<p>
<em>In each cell, the amount (in points) to the left is the payoff for Player 1 and to the right for Player 2.
</em>
This table below is just an example of a potential realization of payoffs in a given round.
In each round of the game, the exact payoffs will be different.
</p>
<p>
On your screen, you will be shown the payoffs for each round before and while you are making your choice. 
</p>

<div class="row">
<div class="col-md-7 col-md-offset-2">
<table class="table table-hover">
<tr>
<th colspan="2"></th>
<th colspan="2">Player 1</th>
</tr>
<tr>
<th colspan="2"></th>
<th>Left</th>
<th>Right</th>
</tr>
<tr>
<th rowspan="2"><span class="rotate90">Player 2</span> </th>
<th>Up</th>
<td>200,100</td>
<td>0, 0</td>
</tr>
<tr>
<th>Down</th>
<td>0, 0</td>
<td>300, 100</td>
</tr>
</table>
</div>
</div>




<p>
You will now play {{ Constants.num_rounds_stage_3 }} rounds of this game. 
In each round, you will be randomly rematched with a different partner and your role as Player 1 or Player B will be randomly determined anew at the beginning of each round. 
</p>

<p>
Your final earnings from Stage 1 of the experiment will be the round payoff from one randomly chosen round (out of the {{Constants.num_rounds_stage_3}} in Stage 1). Round payoffs will be reported to you in points and converted into GBP at a rate of {{ Constants.exchange_rate }} for 100 points at the end of the experiment 

</p>	
</div>