{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

{% if player.is_quiz_question_player1_correct %}
<p class="text-success">Your answer {{player.training_question_1_husband}} for Player 1 was 
correct.
</p>

{% else %}
<p class="text-danger">Your answer {{player.training_question_1_husband}} for Player 1 was incorrect.
</p>
{% endif %}

{% if player.is_quiz_question_player2_correct %}
<p class="text-success">Your answer {{player.training_question_1_wife}} for Player 2 was correct.</p>

{% else %}
<p class="text-danger">Your answer {{player.training_question_1_wife}} for Player 2 was incorrect.</p>
{% endif %}

<p>
Suppose that Player 1 chose <strong>left</strong> match and Player 2 chose <strong>up</strong>. What would be their payoffs respectively?
</p>

<p>

<strong>Solution:</strong> Payoffs for both Player 1 and Player 2 would be <strong>0 points.</strong>
</p>

{% next_button %}

{% include 'groupAssignment2/Instructions.html' %}

{% endblock %}
